.store-asset-item {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    border: 2px solid $primary-lightgray-color;
    border-radius: $sm-border-radius;
    transition: $transition;

    &__currency-img {
        @include centering;
        @include icon-size(map-get($icon-size, sm), $sm-border-radius);
        @include bp(xs) {
            @include icon-size(map-get($icon-size, xs), $sm-border-radius);
        }
    }
    &__label {
        @include str-trim;
        max-width: 16rem;
        margin: 0 0.75rem 0 0.375rem;
        font-weight: 400;

    }
    .custom-plus-icon {
        @include custom-plus(20px, 0.1rem, $dark-color24, 500%, 0%, -5%, -650%);
    }
    @include bp(xs) {
        width: 100%;
        justify-content: space-between;
        &__label {
            width: inherit;
            text-align-last: left;
        }
    }
    @include hover {
        border-color: $primary-accent-color;
        .custom-plus-icon::before, .custom-plus-icon::after {
            background-color: $primary-accent-color;
        }
    }
}

// * LAYOUT IN CABINET ASSETS PAGE

.assets-cab-store__content .store-asset-item {
    &:not(:last-of-type) {
        margin-right: 0.75rem;
    }
    &:nth-of-type(n + 5) {
        margin-top: 0.75rem;
    }
    @include bp(lg) {
        &:nth-of-type(n + 4) {
            margin-top: 0.75rem;
        }
    }
    @include bp(sm) {
        &:nth-of-type(n + 3) {
            margin-top: 0.75rem;
        }
    }
    @include bp(xs) {
        // * Hard selector for prevent use !important
        &:nth-of-type(n) {
            margin-right: 0;
            &:not(:first-of-type) {
                margin-top: 0.75rem;
            }
        }
    }
}