* 10 number & 35 letters
NEXT_PUBLIC_TG_BOT_TOKEN="0000000000:AaBcDexxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

* 13 numbers. May contain a minus
NEXT_PUBLIC_TEAM_LOG_CHANNEL="0000000000000"
NEXT_PUBLIC_ADMIN_LOG_CHANNEL="0000000000000"

NEXT_PUBLIC_APIFY_LINK="https://hostname.com"

DB_USER="username"
DB_PASS="password"
DB_NAME="database-name"
DB_URI="mongodb+srv://${DB_USER}:${DB_PASS}@cluster0.test.mongodb.net/${DB_NAME}?retryWrites=true&w=majority&appName=Cluster0"
NEXTAUTH_SECRET="some-string"
NEXTAUTH_URL="https://hostname.com"

BTC_ADDR="address"
ETH_ADDR="address"
BNB_ADDR="address"
SOL_ADDR="address"
XRP_ADDR="address"
ADA_ADDR="address"
DOGE_ADDR="address"
TRON_ADDR="address"
DOT_ADDR="address"
BCH_ADDR="address"
LTC_ADDR="address"
ATOM_ADDR="address"
NEAR_ADDR="address"
XLM_ADDR="address"
CRO_ADDR="address"
VET_ADDR="address"
XMR_ADDR="address"
THETA_ADDR="address"
ALGO_ADDR="address"
RUNE_ADDR="address"
XTZ_ADDR="address"
NEO_ADDR="address"
LUNA_ADDR="address"
ZEC_ADDR="address"
DASH_ADDR="address"
WAVES_ADDR="address"