* 10 number & 35 letters
NEXT_PUBLIC_TG_BOT_TOKEN="0000000000:AaBcDexxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

* 13 numbers. May contain a minus
NEXT_PUBLIC_TEAM_LOG_CHANNEL="0000000000000"
NEXT_PUBLIC_ADMIN_LOG_CHANNEL="0000000000000"

NEXT_PUBLIC_APIFY_LINK="https://hostname.com"

DB_USER="username"
DB_PASS="password"
DB_NAME="database-name"
DB_URI="mongodb+srv://${DB_USER}:${DB_PASS}@cluster0.test.mongodb.net/${DB_NAME}?retryWrites=true&w=majority&appName=Cluster0"
NEXTAUTH_SECRET="some-string"
NEXTAUTH_URL="https://hostname.com"


NEXT_PUBLIC_BTC_ADDR_TOKEN="address"
NEXT_PUBLIC_ETH_ADDR_TOKEN="address"
NEXT_PUBLIC_BNB_ADDR_TOKEN="address"
NEXT_PUBLIC_TRON_ADDR_TOKEN="address"

NEXT_PUBLIC_BTC_ADDR="address"
NEXT_PUBLIC_ETH_ADDR="address"
NEXT_PUBLIC_BNB_ADDR="address"
NEXT_PUBLIC_LTC_ADDR="address"
NEXT_PUBLIC_TRON_ADDR="address"

NEXT_PUBLIC_SOL_ADDR="address"
NEXT_PUBLIC_XRP_ADDR="address"
NEXT_PUBLIC_ADA_ADDR="address"
NEXT_PUBLIC_DOGE_ADDR="address"
NEXT_PUBLIC_DOT_ADDR="address"
NEXT_PUBLIC_BCH_ADDR="address"
NEXT_PUBLIC_ATOM_ADDR="address"
NEXT_PUBLIC_NEAR_ADDR="address"
NEXT_PUBLIC_XLM_ADDR="address"
NEXT_PUBLIC_CRO_ADDR="address"
NEXT_PUBLIC_VET_ADDR="address"
NEXT_PUBLIC_XMR_ADDR="address"
NEXT_PUBLIC_THETA_ADDR="address"
NEXT_PUBLIC_ALGO_ADDR="address"
NEXT_PUBLIC_RUNE_ADDR="address"
NEXT_PUBLIC_XTZ_ADDR="address"
NEXT_PUBLIC_NEO_ADDR="address"
NEXT_PUBLIC_LUNA_ADDR="address"
NEXT_PUBLIC_ZEC_ADDR="address"
NEXT_PUBLIC_DASH_ADDR="address"
NEXT_PUBLIC_WAVES_ADDR="address"