.main-assets-item {
    position: relative;
    cursor: help;

    &:disabled {
        cursor: auto;
    }
    &__img {
        @include icon-size(map-get($icon-size, xl), $sm-border-radius);
        @include bp(md) {
            @include icon-size(3.875rem, 0);
        }
    }
    // .main-asset-theme {
    //     font-size: 0.9rem;
    //     font-weight: 500;
    //     background-color: #fff;
    //     color: #111;
    // }
    // &__tippy[data-placement^='top'] {
    //     font-weight: 500;
    //     color: $dark-color;
    // }
}
