.main-assets-item {
    position: relative;
    cursor: help;

    &:disabled {
        cursor: auto;
    }
    &__img {
        @include icon-size(map-get($icon-size, xl), $sm-border-radius);
        @include bp(md) {
            @include icon-size(3.875rem, 0);
        }
    }
}
