.download-column {
    $btn-labels: (
        "mac-appstore": "Coming soon",
        "windows": "Technical works",
        "google-play": "Tested for publication",
        "appstore": "Tested for publication"
    );

    @include bp(md) {
        &:not(:first-of-type) {
            margin-top: 3rem;
        }
    }
    & > div {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        @include bp(md) {
            justify-content: space-around;
            margin-top: 3.25rem;
        }
        @include bp(xs) {
            flex-direction: column;
            align-items: center;
            margin-top: 4rem;
           
        }
        .btn {
            position: relative;
            padding: 0;
            justify-content: flex-start;
            background-color: initial;
            border: none;
            box-shadow: none;
            &::before {
                position: absolute;
                top: -1.66rem;
                left: 0;
                display: block;
                font-size: 1rem;
                font-weight: 400;
                color: $dark-color24;
            }
            @include bp(xs) {
                &:not(:first-of-type) {
                    margin-top: 3rem;
                }
            }
        }
        .download-column__btn-img {
            display: block;
            width: 11rem;
            height: auto;
        }

        @each $name, $label in $btn-labels {
            .btn--#{$name}::before {
                content: $label;
            }
        }
    }
}
