// * .btn -- is service style used for local styling, margins etc.

@mixin btn($padding-y, $padding-x, $color, $bgcolor, $text-shadow) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-y $padding-x;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: inherit;
    line-height: 1.4;
    letter-spacing: 0.06em;
    color: $color;

    background-color: $bgcolor;
    border-radius: $sm-border-radius;
    border: 2px solid $primary-accent-color;
    text-shadow: $text-shadow;
    transition: $transition;

    span ~ svg {
        @include icon-size(map-get($icon-size, xs), 0);
        margin-left: 0.5rem;
        stroke-width: map-get($map: $stroke-width, $key: md);
        transition: $transition;
    }
    svg {
        stroke: $color;
    }
}

@mixin btn-filled-anim {
    background-color: $btn-darken-accent;
    border-color: darken($color: $darken-accent, $amount: 1);
    text-shadow: none;
    box-shadow: $btn-dark-inset-shadow;
}

@mixin btn-outline-anim {
    color: $dark-color;
    background-color: $white-color;
    border-color: $btn-darken-accent;
    box-shadow: $btn-accent-inset-shadow;
    svg {
        stroke: $dark-color;
    }
}

@mixin btn-disabled($disabled-color) {
    color: $disabled-color;
    background-color: $white-color;
    border: 2px solid $disabled-color;
    box-shadow: $btn-dark-inset-shadow;
    svg {
        stroke: $disabled-color;
    }
}

// * CLASSES

.btn-fill,
.btn-fill-sm,
.btn-fill-xs {
    @include btn(0.8rem, 1.6rem, $white-color, $primary-accent-color, $btn-light-text-shadow);
    @include hover {
        @include btn-filled-anim();
    }
    &:active {
        text-shadow: none;
        box-shadow: none;
    }
}

.btn-outline,
.btn-outline-sm,
.btn-outline-xs {
    @include btn(0.8rem, 1.6rem, $dark-color24, $white-color, none);
    @include hover {
        @include btn-outline-anim();
    }
    &:active {
        box-shadow: none;
        border-color: $primary-accent-color;
    }
}

.btn-fill-xs {
    @include hover {
        box-shadow: none;
        background-color: $darken-accent;
        &:active {
            box-shadow: none;
            background-color: $primary-accent-color;
        }
    }
}

.btn-outline-xs {
    @include hover {
        box-shadow: $inp-focus-shadow;
        background-color: $light-color;
        &:active {
            box-shadow: none;
            background-color: $white-color;
            border-color: $primary-accent-color;
        }
    }
}

.btn-fill,
.btn-fill-sm,
.btn-fill-xs,
.btn-outline,
.btn-outline-sm,
.btn-outline-xs {
    // * Rules for correct work sailing events in multistep-form.js
    &:has(svg) span {
        width: auto;
    }
    &:not(:has(svg)) span {
        width: 100%;
        text-align: center;
    }
    &:disabled {
        @include btn(0.8rem, 1.6rem, $dark-color24, $white-color, none);
        @include btn-disabled($dark-color36);
        @include hover {
            border-color: initial;
            background-color: initial;
            box-shadow: $btn-dark-inset-shadow;
        }
        cursor: not-allowed;
    }
}

// * Don't change style order for correct save btn size in disabled state
.btn-fill-sm,
.btn-outline-sm {
    padding: 0.5rem 0.75rem;
    &:disabled {
        padding: 0.5rem 0.75rem;
    }
}

.btn-fill-xs,
.btn-outline-xs {
    padding: 0.375rem 0.65rem;
    font-size: 1.125rem;
    letter-spacing: 0.04em;
    &:disabled {
        font-size: 1.125rem;
        padding: 0.375rem 0.65rem;
    }
    span ~ svg {
        @include icon-size(map-get($icon-size, xs), 0);
        stroke-width: map-get($map: $stroke-width, $key: md);
    }
}
