.wrapper {
    max-width: $max-width;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.main, .page {
    position: relative;
}

// * MIXINS
// Макс. ширина контейнера с учетом padding, чтобы контент не прилипал к краям при адаптиве
// 1312 + 32 * 1.5 или 696 + 16

@mixin container {
    margin: 0 auto;
    max-width: map-get($container-max-widths, xxl) + ($grid-gap * 1.5);
    padding: 0 calc( $grid-gap * 0.75 );
    
    @include bp(xl) {
        max-width: map-get($container-max-widths, xl) + ($grid-gap * 1.5);
    }
    @include bp(lg) {
        max-width: map-get($container-max-widths, lg) + $grid-gap;
        padding: 0 $grid-gap-side;
    }
    @include bp(md) {
        max-width: map-get($container-max-widths, md) + $grid-gap;
    }
    @include bp(sm) {
        max-width: map-get($container-max-widths, sm) + ($grid-gap-side * 0.75);
        padding: 0 calc( $grid-gap-side * 0.75 );
    }
    @include bp(xs) {
        max-width: map-get($container-max-widths, xs);
        padding: 0 calc( $grid-gap-side * 0.375);
    }
}

// * MEDIA, BREAKPOINTS

@mixin media($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin bp($name) {
    $width: map-get($grid-breakpoints, $name);
    @include media($width) {
        @content;
    }
}

.container {
    @include container;
}

// * USAGE

// selector {
//    @include col(4);
//    @include bp(lg) {
//       background-color: $accent;
//    }
// }