// * <UI CLASSES>==========================================

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-title {
    margin: calc($header-height + 4rem) 0 4rem;
    flex-direction: column;
    & > * {
        text-align: center;
    }
    .breadcrumbs a {
        text-transform: uppercase;
        color: $dark-color;
    }
    @include bp(md) {
        margin: calc($header-height-mobile + 3rem) 0 3rem;
    }
}

.page-inner {
    margin: 4rem 0 6rem;
    @include bp(md) {
        margin: 3rem 0 4rem;
    }
}

.h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.06em;
    @include bp(md) {
        font-size: 2.125rem;
    }
}

.h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.06em;
    @include bp(md) {
        font-size: 1.875rem;
        letter-spacing: 0.04em;
    }
}

.h3 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.04em;
    @include bp(md) {
        font-size: 1.625rem;
        font-weight: 600;
    }
}

.h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.04em;
    @include bp(md) {
        font-size: 1.375rem;
    }
}

.h5 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.04em;
    @include bp(md) {
        font-size: 1.125rem;
    }
}

.output {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.06em;
    @include bp(md) {
        font-size: 1.625rem;
    }
}

.navlink {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.02em;
    transition: $transition;
    cursor: pointer;

    &::after {
        display: block;
        opacity: 0;
        transition: $transition;
    }
    svg {
        @include icon-size(map-get($icon-size, sm), 0);
        margin: 0 0 0 0.4rem;
        stroke-width: map-get($map: $stroke-width, $key: sm);
        transition: $transition;
    }
}

.link {
    color: $secondary-accent-color;
    text-decoration: underline;
    @include hover {
        text-decoration: none;
    }
}

.label-text {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.25;
}

.primary-subtitle {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.32em;
    color: $subtitle-shadow-color;
    text-shadow: 0 4px 4px $subtitle-shadow-color;
    text-transform: uppercase;
    @include bp(sm) {
        font-size: 3rem;
    }
}

// * UN- ORDERED LISTS

.ordered-list {
    $count-list: (1 '1.', 2 '2.', 3 '3.', 4 '4.', 5 '5.', 6 '6.', 7 '7.');
    counter-reset: myCounter;

    li {
        list-style: none;
        margin: 0 0 0 1rem;

        &::before {
            counter-increment: myCounter;
            content: counter(myCounter);
            color: $primary-accent-color;
            display: inline;
            font-weight: 500;
            margin: 0 0.66rem 0 0;
        }
    }

    @each $number, $order in $count-list {
        &--privacy#{$number} li:before {
            content: $order counter(myCounter);
        }
    }
}

.unordered-list {
    li {
        margin: 0.4rem 0;

        &::before {
            content: '';
            display: inline-block;
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 999px;
            background-color: $primary-accent-color;
            margin: 0rem 0.5rem 0rem 0.5rem;
        }
    }
}

// * ACCORDION

.advant-accordion {
    transition: $transition;
    & > .summary {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        cursor: pointer;
        // * Icon for close state
        &::after {
            content: '';
            display: block;
            background: url('../../img/icons/interface/chevron_details.svg') center / cover no-repeat;
        }
        svg,
        svg *,
        &::after {
            @include icon-size(map-get($icon-size, xs), 0);
            stroke: $secondary-accent-color;
            stroke-width: 3.5;
            transition: $transition;
        }
        .link {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 0 0.5rem 0 0.3rem;
            font-size: 1.125rem;
            @include bp(md) {
                font-size: 1rem;
            }
        }
    }
    // * Icon for close state
    &[open] {
        .summary::after {
            transform: rotate(180deg);
        }
    }
}
