// * DEFAULT FONT
$font-family: 'Titillium Web';
$font-size: 16px;

// * GRID (MY DEFAULT GRID)
$max-width: 1920px;
$grid-gap: 32px !default;
$grid-gap-side: calc($grid-gap / 2);

$container-max-widths: (
    xs: 348px,
    sm: 512px,
    md: 696px,
    lg: 928px,
    xl: 1072px,
    xxl: 1312px,
);

$grid-breakpoints: (
    xs: calc(map-get($container-max-widths, xs) + calc($grid-gap * 6.25)),
    // * 536
    sm: calc(map-get($container-max-widths, sm) + calc($grid-gap * 6.75)),
    // * 728
    md: calc(map-get($container-max-widths, md) + calc($grid-gap * 8.5)),
    // * 968
    lg: calc(map-get($container-max-widths, lg) + calc($grid-gap * 5.75)),
    // * 1120
    xl: calc(map-get($container-max-widths, xl) + calc($grid-gap * 9)),
    // * 1360
);

// * COLORS
$white-color: #fff;
$light-color: #faf8ff;
$dark-color: #111;
$dark-color24: #4a4a4a; // * Lighten $dark-color to 24%
$dark-color36: #676767; // * Lighten $dark-color to 36%
$primary-lightgray-color: #d9d9d9;
$secondary-lightgray-color: #f5f5f5;
$darken-secondary-lightgray: darken($color: $secondary-lightgray-color, $amount: 1);
$primary-accent-color: #8685ef;
$lighten-accent: #9999f2;
$darken-accent: #7170c9;
$secondary-accent-color: #008be9;
$darken-secondary-accent: #0075c4;
$success-green: #00c896;
$darken-green64: #004836; // * Darken $success-green to 64%
$error-red: #ee6464;

// * Use darken() for prevent incorrect transperency
$btn-darken-accent: darken(
    $color: $primary-accent-color,
    $amount: 0.16,
);

// * EFFECTS
$transition: 0.5s all;
$blur-value: 6px;
$btn-light-text-shadow: 0 0 0.33rem
    rgba(
        $color: $white-color,
        $alpha: 0.25,
    );
$btn-dark-inset-shadow: inset 0 0 8px 3px
    rgba(
        $color: $dark-color,
        $alpha: 0.25,
    );

$inp-focus-shadow: 0 0 4px 1px
    rgba(
        $color: $darken-accent,
        $alpha: 0.5,
    );
$subtitle-shadow-color: rgba(
    $color: $dark-color,
    $alpha: 0.16,
);

$item-shadow: 0 0 12px 1px
    rgba(
        $color: $dark-color,
        $alpha: 0.4,
    );
$advant-outset-shadow: 4px -4px 8px 0px rgba(
        $color: $dark-color,
        $alpha: 0.24,
    );

$advant-inset-shadow: inset 4px -4px 8px 0px rgba(
        $color: $dark-color,
        $alpha: 0.24,
    );
    
$card-cab-shadow: 56px 56px 32px rgba(0, 0, 0, 0.02), 32px 32px 27px rgba(0, 0, 0, 0.06),
    14px 14px 20px rgba(0, 0, 0, 0.11), 4px 4px 11px rgba(0, 0, 0, 0.12), 0px 0px 0px rgba(0, 0, 0, 0.13);

// * Stroke-width
$stroke-width: (
    xs: 3,
    sm: 4,
    md: 5,
    lg: 6,
);

$icon-size: (
    xs: 22px,
    sm: 24px,
    md: 32px,
    lg: 48px,
    xl: 64px,
    xxl: 72px,
);

// * OTHER
$sm-border-radius: 4px;
$header-height: 80px;
$header-height-mobile: 68px;
$header-height-slim: calc($header-height-mobile / 1.2);

$aside-width-open: 240px;
$aside-width-close: 80px;
$maxScreenHeight: 99vh;
