// * .page-cab (dashboard, assets etc.)

.page-cab {
    position: relative;
    min-height: 100vh;
    transition: $transition;
    background-color: rgba($color: $primary-accent-color, $alpha: 0.125);
    padding: 7rem 0rem 2rem;
    .dropdown {
        .navlink {
            text-align: left;
        }
    }
}

.aside-cab ~ .page-cab {
    left: calc($aside-width-open / 2);
    .container {
        width: calc(map-get($map: $container-max-widths, $key: xl) + 6rem);
    }
}

.aside-cab._close ~ .page-cab {
    left: calc($aside-width-close / 1.5);
}

.aside-cab ~ .page-cab,
.aside-cab._close ~ .page-cab {
    @include bp(lg) {
        left: 0;
        .container,
        .inner {
            width: 100%;
        }
    }
}

// * SHARED

.cabinet-card {
    @include card-rect;
    height: fit-content;
}

.page-cab .cabinet-card {
    padding: 1rem;
    @include bp(sm) {
        padding: 1rem 0.75rem;
    }
}

.page-cab .floating-bar-popup._show {
    margin-bottom: 2rem;
}
.page-cab .floating-bar-popup.cabinet-card {
    max-width: 100%;
}

.dashboard .dashboard-balance,
.assets-cab .assets-cab-portfolio {
    & > .modal-header {
        padding: 1rem 1rem 0.75rem 1rem;
        border-bottom: none;
    }
    // * Margin from between .modal-header & assets list
    .added-assets {
        margin-top: 0;
    }
}

.assets-cab .inner > *:not(:first-of-type),
.history .inner > *:not(:first-of-type),
.cur-rate .inner > *:not(:first-of-type) {
    margin-top: 2rem;
}

// * Flex gap for time-table-column on cur-rate page
.cur-stat-price {
    .time-table-column:not(:first-of-type) {
        margin-left: 0.25rem;
    }
    .time-table-column:nth-of-type(7n) {
        margin-left: 0rem;
    }
    .time-table-column:nth-of-type(n + 7) {
        margin-top: 1rem;
    }
    @include bp(xl) {
        .time-table-column:nth-of-type(6n) {
            margin-left: 0rem;
        }
        .time-table-column:nth-of-type(n + 6) {
            margin-top: 1rem;
        }
    }
    @include bp(md) {
        .time-table-column:not(:first-of-type) {
            margin-left: 0.375rem;
        }
        .time-table-column:nth-of-type(4n) {
            margin-left: 0rem;
        }
        .time-table-column:nth-of-type(n + 4) {
            margin-top: 1rem;
        }
    }
    @include bp(sm) {
        .time-table-column:nth-of-type(-n + 5) {
            margin-top: 0rem;
        }
        .time-table-column:nth-of-type(6n) {
            margin-left: 0rem;
        }
        .time-table-column:nth-of-type(n + 6) {
            margin-top: 1rem;
        }
    }
    @include bp(xs) {
        .time-table-column:not(:first-of-type) {
            margin-left: 0.375rem;
        }
        .time-table-column:nth-of-type(-n + 5) {
            margin-top: 1rem;
        }
        .time-table-column:nth-of-type(3n + 1) {
            margin-left: 0rem;
        }
    }
}
