.dropdown {
    position: relative;
    & > .navlink {
        span {
            @include str-trim;
            max-width: 9rem;
        }
        display: flex;
        align-items: center;
        svg {
            margin: 0rem 0rem 0rem 0.4rem;
        }
        @include hover {
            color: $white-color !important;
            &::after {
                display: none;
            }
            &:active {
                color: $white-color;
            }
        }
    }
}

.dropdown.active {
    color: $darken-accent;
    .navlink[data-dropdown-button] svg:last-of-type {
        transform: rotate(180deg);
    }
}

.dropdown-menu {
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 0.65rem);
    left: 0;
    margin: auto;
    padding: 0.5rem 0.75rem;
    width: fit-content;
    height: fit-content;

    background-color: $white-color;
    border-radius: $sm-border-radius;
    border: 3px solid $primary-lightgray-color;
    box-shadow: $item-shadow;
    transform: translate(0, -0.5rem);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .navlink + .dropdown-menu {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto;
}

// * Hard styling for prevent use !important
.dropdown .dropdown-links .navlink {
    width: 100%;
    transition: $transition;
    span {
        transition: $transition;
    }
    svg {
        stroke: $dark-color;
        stroke-width: map-get($map: $stroke-width, $key: xs);
    }
    @include hover {
        color: $darken-accent;
        svg {
            stroke: $darken-accent;
        }
        span {
            color: $darken-accent;
        }
    }
}

// * Local styling
.header .menu__list .dropdown-links,
.dropdown-links {
    display: flex;
    flex-direction: column;
    li:not(:first-of-type) {
        margin-top: 0.4rem;
    }
    .navlink {
        font-size: 1.15rem;
        white-space: nowrap;
        color: $dark-color;
        &::after {
            display: none;
        }
    }
}

.assets-cab .asset-actions ul, .watchlist .assets-table-item {
    .dropdown .navlink {
        svg {
            @include icon-size(20px, 0);
            margin: 0 0.4rem 0 0;
            stroke: $dark-color;    
        }
        @include hover {
            color: $darken-accent;
            svg {
                stroke: $darken-accent;
            }
        }
    }
}

.assets-cab .balance-item .asset-actions ul {
    .dropdown > .navlink[data-dropdown-button] {
        @include hover {
            color: $dark-color !important;
            svg {
                stroke: $dark-color;
            }
        }
        svg:last-of-type {
            margin: 0 0 0 0.4rem;
        }
    }
    .dropdown .dropdown-menu {
        left: auto;
        right: 0;
    }
}

.header-cab,
.assets-table-item {
    .dropdown {
        svg:first-of-type {
            margin: 0 0.4rem 0 0;
        }
        .dropdown-menu {
            left: auto;
            right: 0;
        }
    }
    .dropdown.active svg:first-of-type {
        transform: rotate(0deg);
    }
}

.watchlist .assets-table-item .dropdown {
    & > .navlink {
        padding: 0 0.5rem;
        svg {
            @include icon-size(24px, 0);
            margin: 0;
            stroke: $dark-color;
        }
    }
    &.active svg:first-of-type {
        transform: rotate(0deg);
    }
    .dropdown-links .navlink span {
        font-weight: 400;
    }
}
