// * Dashboard log item

.dashboard-log-item {
    $log-types: (
        'get': #00c896,
        'send': #ee6464,
        'wait': #676767,
        'info': #8685ef,
    );

    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bp(xl) {
        flex-wrap: wrap;
        padding-bottom: 0.75rem;
        &:not(:last-of-type) {
            border-bottom: 1px solid $dark-color24;
        }
    }
    &:first-of-type {
        margin-top: 0.75rem;
    }
    &:not(:first-of-type) {
        margin-top: 0.5rem;
    }
    &__type {
        display: flex;
        align-items: center;
        flex-basis: 20%;
        min-width: 7.3rem;

        @include bp(xl) {
            order: 1;
        }
        @include bp(md) {
            flex-basis: 67%;
        }
        @include bp(sm) {
            flex-basis: 56%;
        }
        @include bp(sm) {
            flex-basis: 25%;
        }
        & > svg {
            @include icon-size(map-get($icon-size, sm), 0);
            stroke-width: map-get($map: $stroke-width, $key: xs);
            @include bp(xs) {
                @include icon-size(map-get($icon-size, xs), 0);
            }
        }
        .navlink {
            @include str-trim;
            margin-left: 0.375rem;
            width: max-content;
            font-weight: 400;
            line-height: 2.375rem;
            letter-spacing: 0.02em;
            cursor: text;
        }
    }

    &__info {
        margin-left: 1.25rem;
        flex-basis: 40%;

        @include bp(xl) {
            order: 3;
            flex-basis: 100%;
            margin-left: 0;
            margin-top: 0.5rem;
            width: 100%;
            & > div .dashboard-log-item__wallet {
                max-width: 100%;
            }
        }
        @include bp(lg) {
            flex-basis: 100%;
        }
        div {
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            color: $dark-color24;
            &:last-of-type {
                margin-top: 0.25rem;
            }
        }
        .dashboard-log-item__wallet {
            @include str-trim;
            padding-left: 0.25rem;
            max-width: 10.25rem;
            line-height: 1.25rem;
        }
    }
    &__amount {
        flex-basis: 40%;
        font-weight: 400;
        cursor: text;
        @include bp(xl) {
            order: 2;
            text-align: right;
            flex-basis: 30%;
        }
    }
    &__num {
        margin: 0 0.5rem 0 1rem;
    }

    // * Color for log types
    @each $type, $color in $log-types {
        &--#{$type} {
            .dashboard-log-item__num,
            .dashboard-log-item__cur-sign {
                color: $color;
            }
            .dashboard-log-item__type > svg {
                stroke: $color;
            }
        }
    }
}
