$promo-bg-path: '../../../public/img/photos/bg/promo.svg';

.promo {
    min-height: 100vh;
    padding: 2.66rem 0;
    background: url($promo-bg-path) center / cover no-repeat;
    color: $white-color;

    & .header {
        position: static;
        padding-top: 0rem;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
        width: 100%;
        text-align: center;
    }
    &__btn {
        width: 40%;
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include bp(xl) {
            width: 50%;
        }
        @include bp(lg) {
            width: 60%;
        }
        @include bp(md) {
            width: 75%;
        }
        @include bp(sm) {
            width: 100%;
            flex-direction: column-reverse;
            // * Before transfer to React uncomment this & remove "#" styles
            // form .btn {
            //     margin-top: 2.5rem;
            //     width: 100%;
            //     &:last-of-type {
            //         margin-top: 0;
            //     }
            // }
            // * #
            form {
                margin-top: 2.5rem;
                width: 100%;
                &:last-of-type {
                    margin-top: 0;
                }
            }
            .btn {
                width: 100%;
            }
        }
        .btn {
            border-width: 3px;
            svg {
                stroke: $white-color;
            }
            @include hover {
                stroke: $white-color;
            }
        }
        .btn-outline {
            background-color: transparent;
            color: $white-color;
            @include hover {
                box-shadow: none;
                background-color: rgba($white-color, 0.8);
                color: $dark-color;
                text-shadow: none;
                svg {
                    stroke: $dark-color;
                }
            }
            span {
                padding-right: 0;
            }
        }
    }
}
